In [188]:
!pip install pyspark

Requirement already satisfied: pyspark in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (3.3.1)
Requirement already satisfied: py4j==0.10.9.5 in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (from pyspark) (0.10.9.5)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

In [189]:
import pyspark
from pyspark.sql import functions as f

In [190]:
import pandas as pd

In [191]:
!pip install pandas

Requirement already satisfied: pandas in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.20.3 in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.22.1)
Requirement already satisfied: six>=1.5 in /Users/abhinav/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: pip install --upgrade pip

In [192]:
import pandas as pd

In [193]:
pd.read_csv('chicago_crime_data.csv', low_memory=False)

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,10224738,HY411648,09/05/2015 01:30:00 PM,043XX S WOOD ST,0486,BATTERY,DOMESTIC BATTERY SIMPLE,RESIDENCE,False,True,...,12.0,61.0,08B,1165074.0,1875917.0,2015.0,02/10/2018 03:50:01 PM,41.815117,-87.670000,"(41.815117282, -87.669999562)"
1,10224739,HY411615,09/04/2015 11:30:00 AM,008XX N CENTRAL AVE,0870,THEFT,POCKET-PICKING,CTA BUS,False,False,...,29.0,25.0,06,1138875.0,1904869.0,2015.0,02/10/2018 03:50:01 PM,41.895080,-87.765400,"(41.895080471, -87.765400451)"
2,11646166,JC213529,09/01/2018 12:01:00 AM,082XX S INGLESIDE AVE,0810,THEFT,OVER $500,RESIDENCE,False,True,...,8.0,44.0,06,NaN,NaN,2018.0,04/06/2019 04:04:43 PM,NaN,NaN,NaN
3,10224740,HY411595,09/05/2015 12:45:00 PM,035XX W BARRY AVE,2023,NARCOTICS,POSS: HEROIN(BRN/TAN),SIDEWALK,True,False,...,35.0,21.0,18,1152037.0,1920384.0,2015.0,02/10/2018 03:50:01 PM,41.937406,-87.716650,"(41.937405765, -87.716649687)"
4,10224741,HY411610,09/05/2015 01:00:00 PM,0000X N LARAMIE AVE,0560,ASSAULT,SIMPLE,APARTMENT,False,True,...,28.0,25.0,08A,1141706.0,1900086.0,2015.0,02/10/2018 03:50:01 PM,41.881903,-87.755121,"(41.881903443, -87.755121152)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4071165,5789137,HN594889,09/17/2007 06:00:00 AM,100XX W OHARE ST,0810,THEFT,OVER $500,AIRPORT/AIRCRAFT,False,False,...,41.0,76.0,06,1100658.0,1934241.0,2007.0,02/28/2{,NaN,NaN,NaN
4071166,"""error"" : true",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4071167,"""message"" : ""Internal error""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4071168,"""status"" : 500",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4071169,},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [194]:
from pyspark.sql import SparkSession

In [195]:
def crime_activity_based_on_location(df, location):
    """
    This function returns the criminal activity based on location
    Args:
        df: Spark DataFrame
        location: Location Description
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Location Description"]==location).groupBy("Primary Type").count().orderBy('count', ascending=False)

In [196]:
def crime_count(df):
    """
    This function returns the number of crimes in each category
    Args:
        df: Spark DataFrame
    Returns:
        Spark DataFrame
    """
    return df.groupBy("Primary Type").count().orderBy('count', ascending=False)

In [197]:
# Function where when IUCR is passed, it returns the description of the crime
def crime_description(df, iucr):
    """
    This function returns the description of the crime based on IUCR
    Args:
        df: Spark DataFrame
        iucr: IUCR
    Returns:
        Spark DataFrame
    """
    return df.filter(df["IUCR"]==iucr).select("Primary Type", "Description").distinct()

In [198]:
# Function where when I pass the IUCR code, it returns the percentage of the crime in the dataset
def crime_percentage(df, iucr):
    """
    This function returns the percentage of the crime in the dataset based on IUCR
    Args:
        df: Spark DataFrame
        iucr: IUCR
    Returns:
        float
    """
    return df.filter(df["IUCR"]==iucr).count()/df.count()*100

In [199]:
# create a data frame where first colum is crime name, 2nd column is crime in year1 and 3rd column is crime in year2
def compare_crimes(df, year1, year2):
    """
    This function returns the number of crimes in each category in year1 and year2
    Args:
        df: Spark DataFrame
        year1: Year
        year2: Year
    Returns:
        Spark DataFrame
    """
    df_year1 = df.filter(df["Year"]==year1).groupBy("Primary Type").count().orderBy('count', ascending=False)
    df_year2 = df.filter(df["Year"]==year2).groupBy("Primary Type").count().orderBy('count', ascending=False)
    df_year1 = df_year1.withColumnRenamed("count", str(year1))
    df_year2 = df_year2.withColumnRenamed("count", str(year2))
    df_year1 = df_year1.withColumnRenamed("Primary Type", "Primary Type1")
    df_year2 = df_year2.withColumnRenamed("Primary Type", "Primary Type2")
    df_year1 = df_year1.withColumn("Primary Type", df_year1["Primary Type1"])
    df_year2 = df_year2.withColumn("Primary Type", df_year2["Primary Type2"])
    df_year1 = df_year1.drop("Primary Type1")
    df_year2 = df_year2.drop("Primary Type2")
    df_year1 = df_year1.join(df_year2, on="Primary Type", how="outer")
    return df_year1

In [200]:
def most_happening_crime(df, year):
    """
    This function returns the most happening crime based on IUCR code in a year
    Args:
        df: Spark DataFrame
        year: Year
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Year"]==year).groupBy("Primary Type").count().orderBy('count', ascending=False)

In [ ]:
# total number of crimes in Chicago
def total_crimes(df):
    """
    This function returns the total number of crimes in Chicago
    Args:
        df: Spark DataFrame
    Returns:
        Spark DataFrame
    """
    return df.count()

In [201]:
def count_crimes_in_block(df, crime, block):
    """
    This function returns the count of crimes in a block
    Args:
        df: Spark DataFrame
        crime: Crime
        block: Block
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Primary Type"]==crime).filter(df["Block"]==block).groupBy("Primary Type").count().orderBy('count', ascending=False)

In [ ]:
import datetime
def convert_year(year):
    """
    This function converts the year from bigint to timestamp
    Args:
        year: Year
    Returns:
        year: Year
    """
    return datetime.datetime(year, 1, 1)
# convert the year from bigint to timestamp
dataframe_crime_year_by_year=crime_year_by_year(df_pyspark)
dataframe_crime_year_by_year=dataframe_crime_year_by_year.withColumn("Year", dataframe_crime_year_by_year["Year"].cast("timestamp"))
dataframe_crime_year_by_year.write.csv('crime_year_by_year.csv', header='True')

In [205]:
def common_crimes_in_block(df, crime):
    """
    This function returns the common crimes in a block
    Args:
        df: Spark DataFrame
        crime: Crime
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Primary Type"]==crime).groupBy("Block").count().orderBy('count', ascending=False)

In [ ]:
# Crimes on each day 
def crime_on_each_day(df):
    """
    This function returns the number of crimes on each day
    Args:
        df: Spark DataFrame
    Returns:
        Spark DataFrame
    """
    return df.groupBy("Date").count().orderBy('count', ascending=False)

In [206]:
def most_crimes_occuring_block(df):
  """
  This function returns the most crimes occuring block in Chicago
  Args:
      df: Spark DataFrame
  Returns:
      Spark DataFrame
  """
  return df.groupBy("Block").count().orderBy('count', ascending=False)

In [207]:
def crime_year_by_year(df):
  """
  This function returns the year with the highest crime
  Args:
      df: Spark DataFrame
  Returns:
      Spark DataFrame
  """
  return df.groupBy("Year").count().orderBy('count', ascending=False)

In [243]:
def crime_location(df, crime):
    """
    This function returns the latitude and longitude of the crime that happened the most limit it to top 20
    Args:
        df: Spark DataFrame
        crime: Crime
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Primary Type"]==crime).groupBy("Latitude", "Longitude").count().orderBy('count', ascending=False).limit(20)

In [209]:
# time at which particular crime is most likely to happen
def crime_time(df, crime):
    """
    This function returns the time at which particular crime is most likely to happen
    Args:
        df: Spark DataFrame
        crime: Crime
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Primary Type"]==crime).groupBy("Time").count().orderBy('count', ascending=False)

In [210]:
from datetime import datetime
def convert_time(time):
    """
    This function converts the time from 12 hour format to 24 hour format
    Args:
        time: Time
    Returns:
        time: Time
    """
    input_format = '%m/%d/%Y %I:%M:%S %p'
    output_format = '%H:%M:%S'
    time = datetime.strptime(time, input_format)
    time = time.strftime(output_format)
    return time

time_udf = f.udf(lambda Time:convert_time(Time))
df_pyspark_date = df_pyspark.withColumn("Time", time_udf(df_pyspark["Date"]))
df_pyspark_date.show()

# Extract date from Date column
def extract_date(date):
    """
    This function extracts the date from Date column
    Args:
        date: Date
    Returns:
        date: Date
    """
    input_format = '%m/%d/%Y %I:%M:%S %p'
    output_format = '%m/%d/%Y'
    date = datetime.strptime(date, input_format)
    date = date.strftime(output_format)
    return date

date_udf = f.udf(lambda Date:extract_date(Date))
df_pyspark_date = df_pyspark_date.withColumn("Date", date_udf(df_pyspark_date["Date"]))
df_pyspark_date.show()

+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+
|      ID|Case Number|                Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|    Time|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+
|10224738|   HY411648|09/05/2015 01:30:...|     043XX S WOOD ST|0486|           BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|13:30:00|
|10224739|   HY411615|09/04/2015 11:30:...| 008XX N CENTRAL AVE|0870|             THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|11:30:00|
|11646166|   JC213529|09/01/2018 12:01:...|082XX S INGLESIDE...|0810|             THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|00:01:00|
|10224740|   HY411595|09/05/2015 12:45:...|   035XX W BARRY AVE|2023|         NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|12:45:00|
|10224741|   HY411610|09/05/2015 01:00:...| 0000X N LARAMIE AVE|0560|           ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|13:00:00|
|10224742|   HY411435|09/05/2015 10:55:...| 082XX S LOOMIS BLVD|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE| false|   false|0614|     006|  21|            71|      05|     1168430|     1850165|2015|02/10/2018 03:50:...|41.744378879|-87.658430635|(41.744378879, -8...|10:55:00|
|10224743|   HY411629|09/04/2015 06:00:...|021XX W CHURCHILL ST|0620|          BURGLARY|      UNLAWFUL ENTRY|    RESIDENCE-GARAGE| false|   false|1434|     014|  32|            24|      05|     1161628|     1912157|2015|02/10/2018 03:50:...|41.914635603|-87.681630909|(41.914635603, -8...|18:00:00|
|10224744|   HY411605|09/05/2015 01:00:...|   025XX W CERMAK RD|0860|             THEFT|        RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|1034|     010|  25|            31|      06|     1159734|     1889313|2015|09/17/2015 11:37:...|41.851988885|-87.689219118|(41.851988885, -8...|13:00:00|
|10224745|   HY411654|09/05/2015 11:30:...|031XX W WASHINGTO...|0320|           ROBBERY|STRONGARM - NO WE...|              STREET| false|    true|1222|     012|  27|            27|      03|     1155536|     1900515|2015|02/10/2018 03:50:...| 41.88281374|-87.704325717|(41.88281374, -87...|11:30:00|
|11645836|   JC212333|05/01/2016 12:25:...| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|        null|         null|                null|00:25:00|
|10224746|   HY411662|09/05/2015 02:00:...|  071XX S PULASKI RD|0820|             THEFT|      $500 AND UNDER|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|14:00:00|
|10224749|   HY411626|09/05/2015 11:00:...|052XX N MILWAUKEE...|0460|           BATTERY|              SIMPLE|  SMALL RETAIL STORE| false|   false|1623|     016|  45|            11|     08B|     1137969|     1934340|2015|02/10/2018 03:50:...|41.975968415|-87.768014257|(41.975968415, -8...|11:00:00|
|10224750|   HY411632|09/05/2015 03:00:...|    0000X W 103RD ST|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           APARTMENT| false|    true|0512|     005|  34|            49|      26|     1177871|     1836676|2015|02/10/2018 03:50:...|41.707154919|-87.624244993|(41.707154919, -8...|03:00:00|
|10224751|   HY411566|09/05/2015 12:50:...|     013XX E 47TH ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|0222|     002|   4|            39|     08B|     1185907|     1874105|2015|02/10/2018 03:50:...|41.809678314|-87.593638934|(41.809678314, -8...|12:50:00|
|10224752|   HY411601|09/03/2015 01:00:...| 020XX W SCHILLER ST|0810|             THEFT|           OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|13:00:00|
|10224753|   HY411489|09/05/2015 11:45:...|  080XX S JUSTINE ST|0497|           BATTERY|AGGRAVATED DOMEST...|           APARTMENT| false|   false|0612|     006|  21|            71|     04B|     1167400|     1851512|2015|02/10/2018 03:50:...|41.748097343|-87.662166183|(41.748097343, -8...|11:45:00|
|10224754|   HY411656|09/05/2015 01:30:...|007XX N LEAMINGTO...|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1531|     015|  28|            25|      14|     1141889|     1904448|2015|02/10/2018 03:50:...|41.893869916|-87.754341096|(41.893869916, -8...|13:30:00|
|10224756|   HY410094|07/08/2015 12:00:...|103XX S TORRENCE AVE|0620|          BURGLARY|      UNLAWFUL ENTRY|               OTHER| false|   false|0434|     004|  10|            51|      05|     1195508|     1836950|2015|02/10/2018 03:50:...|41.707490122|-87.559650325|(41.707490122, -8...|00:00:00|
|10224757|   HY411388|09/05/2015 09:55:...|  088XX S PAULINA ST|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE|  true|   false|2221|     022|  21|            71|      05|     1166554|     1846067|2015|02/10/2018 03:50:...|41.733173536|-87.665421067|(41.733173536, -8...|09:55:00|
|10224758|   HY411568|09/05/2015 12:35:...|    059XX W GRACE ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|1633|     016|  38|            15|     08B|     1136014|     1924656|2015|02/10/2018 03:50:...|41.949429769|-87.775435529|(41.949429769, -8...|12:35:00|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+
only showing top 20 rows

+--------+-----------+----------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+
|      ID|Case Number|      Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|    Time|
+--------+-----------+----------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+
|10224738|   HY411648|09/05/2015|     043XX S WOOD ST|0486|           BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|13:30:00|
|10224739|   HY411615|09/04/2015| 008XX N CENTRAL AVE|0870|             THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|11:30:00|
|11646166|   JC213529|09/01/2018|082XX S INGLESIDE...|0810|             THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|00:01:00|
|10224740|   HY411595|09/05/2015|   035XX W BARRY AVE|2023|         NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|12:45:00|
|10224741|   HY411610|09/05/2015| 0000X N LARAMIE AVE|0560|           ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|13:00:00|
|10224742|   HY411435|09/05/2015| 082XX S LOOMIS BLVD|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE| false|   false|0614|     006|  21|            71|      05|     1168430|     1850165|2015|02/10/2018 03:50:...|41.744378879|-87.658430635|(41.744378879, -8...|10:55:00|
|10224743|   HY411629|09/04/2015|021XX W CHURCHILL ST|0620|          BURGLARY|      UNLAWFUL ENTRY|    RESIDENCE-GARAGE| false|   false|1434|     014|  32|            24|      05|     1161628|     1912157|2015|02/10/2018 03:50:...|41.914635603|-87.681630909|(41.914635603, -8...|18:00:00|
|10224744|   HY411605|09/05/2015|   025XX W CERMAK RD|0860|             THEFT|        RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|1034|     010|  25|            31|      06|     1159734|     1889313|2015|09/17/2015 11:37:...|41.851988885|-87.689219118|(41.851988885, -8...|13:00:00|
|10224745|   HY411654|09/05/2015|031XX W WASHINGTO...|0320|           ROBBERY|STRONGARM - NO WE...|              STREET| false|    true|1222|     012|  27|            27|      03|     1155536|     1900515|2015|02/10/2018 03:50:...| 41.88281374|-87.704325717|(41.88281374, -87...|11:30:00|
|11645836|   JC212333|05/01/2016| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|        null|         null|                null|00:25:00|
|10224746|   HY411662|09/05/2015|  071XX S PULASKI RD|0820|             THEFT|      $500 AND UNDER|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|14:00:00|
|10224749|   HY411626|09/05/2015|052XX N MILWAUKEE...|0460|           BATTERY|              SIMPLE|  SMALL RETAIL STORE| false|   false|1623|     016|  45|            11|     08B|     1137969|     1934340|2015|02/10/2018 03:50:...|41.975968415|-87.768014257|(41.975968415, -8...|11:00:00|
|10224750|   HY411632|09/05/2015|    0000X W 103RD ST|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           APARTMENT| false|    true|0512|     005|  34|            49|      26|     1177871|     1836676|2015|02/10/2018 03:50:...|41.707154919|-87.624244993|(41.707154919, -8...|03:00:00|
|10224751|   HY411566|09/05/2015|     013XX E 47TH ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|0222|     002|   4|            39|     08B|     1185907|     1874105|2015|02/10/2018 03:50:...|41.809678314|-87.593638934|(41.809678314, -8...|12:50:00|
|10224752|   HY411601|09/03/2015| 020XX W SCHILLER ST|0810|             THEFT|           OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|13:00:00|
|10224753|   HY411489|09/05/2015|  080XX S JUSTINE ST|0497|           BATTERY|AGGRAVATED DOMEST...|           APARTMENT| false|   false|0612|     006|  21|            71|     04B|     1167400|     1851512|2015|02/10/2018 03:50:...|41.748097343|-87.662166183|(41.748097343, -8...|11:45:00|
|10224754|   HY411656|09/05/2015|007XX N LEAMINGTO...|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1531|     015|  28|            25|      14|     1141889|     1904448|2015|02/10/2018 03:50:...|41.893869916|-87.754341096|(41.893869916, -8...|13:30:00|
|10224756|   HY410094|07/08/2015|103XX S TORRENCE AVE|0620|          BURGLARY|      UNLAWFUL ENTRY|               OTHER| false|   false|0434|     004|  10|            51|      05|     1195508|     1836950|2015|02/10/2018 03:50:...|41.707490122|-87.559650325|(41.707490122, -8...|00:00:00|
|10224757|   HY411388|09/05/2015|  088XX S PAULINA ST|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE|  true|   false|2221|     022|  21|            71|      05|     1166554|     1846067|2015|02/10/2018 03:50:...|41.733173536|-87.665421067|(41.733173536, -8...|09:55:00|
|10224758|   HY411568|09/05/2015|    059XX W GRACE ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|1633|     016|  38|            15|     08B|     1136014|     1924656|2015|02/10/2018 03:50:...|41.949429769|-87.775435529|(41.949429769, -8...|12:35:00|
+--------+-----------+----------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+--------+
only showing top 20 rows

In [ ]:
# Reduction in crime in a block from 2002 to 2022
def reduction_in_crime(df, block):
    """
    This function returns the reduction in crime in a block from 2002 to 2022
    Args:
        df: Spark DataFrame
        block: Block
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Block"]==block).groupBy("Year").count().orderBy('Year', ascending=True)

In [ ]:
def total_arrest(df):
    """
    This function returns the total arrest in every year
    Args:
        df: Spark DataFrame
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Arrest"]==True).groupBy("Year").count().orderBy('Year', ascending=True)

In [ ]:
def percentage_arrest(totalCrimes, totalArrest):
    """
    This function returns the percentage of arrest for a particular crime
    Args:
        totalCrimes: Total number of crimes
        totalArrest: Total number of arrests
    Returns:
        percentage: Percentage of arrest
    """
    percentage = (totalArrest/totalCrimes)*100
    return percentage

In [ ]:
def most_common_crime_in_block(df, block):
    """
    This function returns the most common crime in a particular block
    Args:
        df: Spark DataFrame
        block: Block
    Returns:
        Spark DataFrame
    """
    return df.filter(df["Block"]==block).groupBy("Primary Type").count().orderBy('count', ascending=False)

In [ ]:
def crime_percentage_arrest(df, totalCrimes, totalArrest):
    """
    This function returns the percentage of arrest for a particular crime
    Args:
        df: Spark DataFrame
        totalCrimes: Total number of crimes
        totalArrest: Total number of arrests
    Returns:
        Spark DataFrame
    """
    return df.withColumn("Percentage Arrest", percentage_arrest(totalCrimes, totalArrest))

In [ ]:
spark= SparkSession.builder.appName('Peoject').getOrCreate()

23/02/15 11:42:03 WARN Utils: Your hostname, RACs-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 10.190.229.59 instead (on interface en0)
23/02/15 11:42:03 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/02/15 11:42:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [ ]:
df_pyspark= spark.read.csv('chicago_crime_data.csv', header='True')

In [ ]:
df_pyspark.show()

+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|      Primary Type|         Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224738|   HY411648|09/05/2015 01:30:...|     043XX S WOOD ST|0486|           BATTERY|DOMESTIC BATTERY ...|           RESIDENCE| false|    true|0924|     009|  12|            61|     08B|     1165074|     1875917|2015|02/10/2018 03:50:...|41.815117282|-87.669999562|(41.815117282, -8...|
|10224739|   HY411615|09/04/2015 11:30:...| 008XX N CENTRAL AVE|0870|             THEFT|      POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|09/01/2018 12:01:...|082XX S INGLESIDE...|0810|             THEFT|           OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224740|   HY411595|09/05/2015 12:45:...|   035XX W BARRY AVE|2023|         NARCOTICS|POSS: HEROIN(BRN/...|            SIDEWALK|  true|   false|1412|     014|  35|            21|      18|     1152037|     1920384|2015|02/10/2018 03:50:...|41.937405765|-87.716649687|(41.937405765, -8...|
|10224741|   HY411610|09/05/2015 01:00:...| 0000X N LARAMIE AVE|0560|           ASSAULT|              SIMPLE|           APARTMENT| false|    true|1522|     015|  28|            25|     08A|     1141706|     1900086|2015|02/10/2018 03:50:...|41.881903443|-87.755121152|(41.881903443, -8...|
|10224742|   HY411435|09/05/2015 10:55:...| 082XX S LOOMIS BLVD|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE| false|   false|0614|     006|  21|            71|      05|     1168430|     1850165|2015|02/10/2018 03:50:...|41.744378879|-87.658430635|(41.744378879, -8...|
|10224743|   HY411629|09/04/2015 06:00:...|021XX W CHURCHILL ST|0620|          BURGLARY|      UNLAWFUL ENTRY|    RESIDENCE-GARAGE| false|   false|1434|     014|  32|            24|      05|     1161628|     1912157|2015|02/10/2018 03:50:...|41.914635603|-87.681630909|(41.914635603, -8...|
|10224744|   HY411605|09/05/2015 01:00:...|   025XX W CERMAK RD|0860|             THEFT|        RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|1034|     010|  25|            31|      06|     1159734|     1889313|2015|09/17/2015 11:37:...|41.851988885|-87.689219118|(41.851988885, -8...|
|10224745|   HY411654|09/05/2015 11:30:...|031XX W WASHINGTO...|0320|           ROBBERY|STRONGARM - NO WE...|              STREET| false|    true|1222|     012|  27|            27|      03|     1155536|     1900515|2015|02/10/2018 03:50:...| 41.88281374|-87.704325717|(41.88281374, -87...|
|11645836|   JC212333|05/01/2016 12:25:...| 055XX S ROCKWELL ST|1153|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|                null| false|   false|0824|     008|  15|            63|      11|        null|        null|2016|04/06/2019 04:04:...|        null|         null|                null|
|10224746|   HY411662|09/05/2015 02:00:...|  071XX S PULASKI RD|0820|             THEFT|      $500 AND UNDER|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|
|10224749|   HY411626|09/05/2015 11:00:...|052XX N MILWAUKEE...|0460|           BATTERY|              SIMPLE|  SMALL RETAIL STORE| false|   false|1623|     016|  45|            11|     08B|     1137969|     1934340|2015|02/10/2018 03:50:...|41.975968415|-87.768014257|(41.975968415, -8...|
|10224750|   HY411632|09/05/2015 03:00:...|    0000X W 103RD ST|2820|     OTHER OFFENSE|    TELEPHONE THREAT|           APARTMENT| false|    true|0512|     005|  34|            49|      26|     1177871|     1836676|2015|02/10/2018 03:50:...|41.707154919|-87.624244993|(41.707154919, -8...|
|10224751|   HY411566|09/05/2015 12:50:...|     013XX E 47TH ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|0222|     002|   4|            39|     08B|     1185907|     1874105|2015|02/10/2018 03:50:...|41.809678314|-87.593638934|(41.809678314, -8...|
|10224752|   HY411601|09/03/2015 01:00:...| 020XX W SCHILLER ST|0810|             THEFT|           OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|
|10224753|   HY411489|09/05/2015 11:45:...|  080XX S JUSTINE ST|0497|           BATTERY|AGGRAVATED DOMEST...|           APARTMENT| false|   false|0612|     006|  21|            71|     04B|     1167400|     1851512|2015|02/10/2018 03:50:...|41.748097343|-87.662166183|(41.748097343, -8...|
|10224754|   HY411656|09/05/2015 01:30:...|007XX N LEAMINGTO...|1320|   CRIMINAL DAMAGE|          TO VEHICLE|              STREET| false|   false|1531|     015|  28|            25|      14|     1141889|     1904448|2015|02/10/2018 03:50:...|41.893869916|-87.754341096|(41.893869916, -8...|
|10224756|   HY410094|07/08/2015 12:00:...|103XX S TORRENCE AVE|0620|          BURGLARY|      UNLAWFUL ENTRY|               OTHER| false|   false|0434|     004|  10|            51|      05|     1195508|     1836950|2015|02/10/2018 03:50:...|41.707490122|-87.559650325|(41.707490122, -8...|
|10224757|   HY411388|09/05/2015 09:55:...|  088XX S PAULINA ST|0610|          BURGLARY|      FORCIBLE ENTRY|           RESIDENCE|  true|   false|2221|     022|  21|            71|      05|     1166554|     1846067|2015|02/10/2018 03:50:...|41.733173536|-87.665421067|(41.733173536, -8...|
|10224758|   HY411568|09/05/2015 12:35:...|    059XX W GRACE ST|0486|           BATTERY|DOMESTIC BATTERY ...|              STREET| false|    true|1633|     016|  38|            15|     08B|     1136014|     1924656|2015|02/10/2018 03:50:...|41.949429769|-87.775435529|(41.949429769, -8...|
+--------+-----------+--------------------+--------------------+----+------------------+--------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
spark.read.option('header', 'true').csv('chicago_crime_data.csv')

DataFrame[ID: string, Case Number: string, Date: string, Block: string, IUCR: string, Primary Type: string, Description: string, Location Description: string, Arrest: string, Domestic: string, Beat: string, District: string, Ward: string, Community Area: string, FBI Code: string, X Coordinate: string, Y Coordinate: string, Year: string, Updated On: string, Latitude: string, Longitude: string, Location: string]

In [ ]:
df_pyspark.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Case Number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Block: string (nullable = true)
 |-- IUCR: string (nullable = true)
 |-- Primary Type: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Location Description: string (nullable = true)
 |-- Arrest: string (nullable = true)
 |-- Domestic: string (nullable = true)
 |-- Beat: string (nullable = true)
 |-- District: string (nullable = true)
 |-- Ward: string (nullable = true)
 |-- Community Area: string (nullable = true)
 |-- FBI Code: string (nullable = true)
 |-- X Coordinate: string (nullable = true)
 |-- Y Coordinate: string (nullable = true)
 |-- Year: string (nullable = true)
 |-- Updated On: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- Location: string (nullable = true)

In [ ]:
df_pyspark.filter("Beat==1424").show()

+--------+-----------+--------------------+--------------------+----+-------------------+-------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|       Primary Type|        Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+-------------------+-------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224752|   HY411601|09/03/2015 01:00:...| 020XX W SCHILLER ST|0810|              THEFT|          OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|
|10225080|   HY412068|09/05/2015 04:20:...|015XX N MILWAUKEE...|1310|    CRIMINAL DAMAGE|        TO PROPERTY|       BAR OR TAVERN| false|   false|1424|     014|   1|            24|      14|     1163046|     1910384|2015|02/10/2018 03:50:...|41.909740682|-87.676471266|(41.909740682, -8...|
|10225084|   HY411061|09/05/2015 02:21:...|013XX N MILWAUKEE...|0620|           BURGLARY|     UNLAWFUL ENTRY|          RESTAURANT| false|   false|1424|     014|   1|            24|      05|     1164352|     1909285|2015|02/10/2018 03:50:...|41.906697405|-87.671704723|(41.906697405, -8...|
|10225187|   HY412113|09/05/2015 06:00:...| 020XX W LE MOYNE ST|0820|              THEFT|     $500 AND UNDER|              STREET| false|   false|1424|     014|   1|            24|      06|     1162630|     1909836|2015|02/10/2018 03:50:...|41.908245663|-87.678014854|(41.908245663, -8...|
|10225271|   HY412398|09/06/2015 12:30:...|015XX N MILWAUKEE...|0820|              THEFT|     $500 AND UNDER|              STREET| false|   false|1424|     014|   1|            24|      06|     1163120|     1910322|2015|02/10/2018 03:50:...|41.909568995|-87.676201167|(41.909568995, -8...|
|10225831|   HY413175|09/06/2015 06:00:...|    015XX N BELL AVE|0910|MOTOR VEHICLE THEFT|         AUTOMOBILE|              STREET| false|   false|1424|     014|   1|            24|      07|     1161128|     1910102|2015|02/10/2018 03:50:...|41.909006943|-87.683525037|(41.909006943, -8...|
|10226072|   HY413492|09/07/2015 02:10:...|013XX N MILWAUKEE...|0460|            BATTERY|             SIMPLE|            SIDEWALK| false|   false|1424|     014|   1|            24|     08B|     1164309|     1909321|2015|09/17/2015 11:37:...|41.906797102|-87.671861659|(41.906797102, -8...|
|10226089|   HY413460|09/06/2015 07:15:...|   020XX W NORTH AVE|0810|              THEFT|          OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162528|     1910646|2015|02/10/2018 03:50:...|41.910470499|-87.678366829|(41.910470499, -8...|
|10226166|   HY409290|09/03/2015 06:10:...|018XX W EVERGREEN...|0810|              THEFT|          OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1163640|     1909539|2015|02/10/2018 03:50:...| 41.90740944|-87.674313013|(41.90740944, -87...|
|10226276|   HY413725|09/07/2015 08:00:...|015XX N MILWAUKEE...|0820|              THEFT|     $500 AND UNDER|            SIDEWALK| false|   false|1424|     014|   1|            24|      06|     1163128|     1910315|2015|02/10/2018 03:50:...|41.909549618|-87.676171975|(41.909549618, -8...|
|10226474|   HY413765|09/06/2015 04:00:...|012XX N MILWAUKEE...|0870|              THEFT|     POCKET-PICKING|           CTA TRAIN| false|   false|1424|     014|   1|            24|      06|     1165712|     1908139|2015|02/10/2018 03:50:...| 41.90352381| -87.66674162|(41.90352381, -87...|
|10226734|   HY414300|08/30/2015 02:00:...|015XX N MILWAUKEE...|051A|            ASSAULT|AGGRAVATED: HANDGUN|              STREET| false|   false|1424|     014|   1|            24|     04A|     1162987|     1910434|2015|02/10/2018 03:50:...|41.909879125|-87.676686601|(41.909879125, -8...|
|11859456|   JC471140|10/13/2019 11:15:...|   012XX N DAMEN AVE|0820|              THEFT|     $500 AND UNDER|              STREET| false|   false|1424|     014|   1|            24|      06|     1162838|     1908433|2019|10/20/2019 04:03:...|41.904391365|-87.677290185|(41.904391365, -8...|
|10227840|   HY415216|09/05/2015 06:30:...| 020XX W LE MOYNE ST|0820|              THEFT|     $500 AND UNDER|              STREET| false|   false|1424|     014|   1|            24|      06|     1162610|     1909835|2015|02/10/2018 03:50:...|41.908243338|-87.678088352|(41.908243338, -8...|
| 2378227|   HH686534|10/01/2002 07:00:...|   022XX W NORTH AVE|0910|MOTOR VEHICLE THEFT|         AUTOMOBILE|              STREET| false|   false|1424|     014|   1|            24|      07|        null|        null|2002|08/17/2015 03:03:...|        null|         null|                null|
|10228137|   HY415838|09/08/2015 05:15:...|014XX N MILWAUKEE...|1320|    CRIMINAL DAMAGE|         TO VEHICLE|VEHICLE NON-COMME...| false|   false|1424|     014|   1|            24|      14|     1163687|     1909844|2015|02/10/2018 03:50:...| 41.90824539|-87.674131751|(41.90824539, -87...|
|10228382|   HY416026|09/08/2015 07:30:...| 020XX W SCHILLER ST|0820|              THEFT|     $500 AND UNDER|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|
|11642696|   JC209087|04/01/2019 12:00:...|  021XX W Crystal St|0810|              THEFT|          OVER $500|RESIDENCE PORCH/H...| false|   false|1424|     014|   2|            24|      06|        null|        null|2019|04/08/2019 04:19:...|        null|         null|                null|
|10228744|   HY416218|09/09/2015 06:20:...|018XX W EVERGREEN...|0650|           BURGLARY|      HOME INVASION|           APARTMENT| false|   false|1424|     014|   1|            24|      05|     1163542|     1909426|2015|02/10/2018 03:50:...|41.907101425|-87.674676198|(41.907101425, -8...|
|10229209|   HY416242|09/08/2015 10:45:...|   023XX W NORTH AVE|0610|           BURGLARY|     FORCIBLE ENTRY|          RESTAURANT| false|   false|1424|     014|   1|            24|      05|     1160363|     1910580|2015|02/10/2018 03:50:...| 41.91033448|-87.686322049|(41.91033448, -87...|
+--------+-----------+--------------------+--------------------+----+-------------------+-------------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
df_pyspark.filter(df_pyspark["Primary Type"]=="THEFT").show()

+--------+-----------+--------------------+--------------------+----+------------+--------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|      ID|Case Number|                Date|               Block|IUCR|Primary Type|   Description|Location Description|Arrest|Domestic|Beat|District|Ward|Community Area|FBI Code|X Coordinate|Y Coordinate|Year|          Updated On|    Latitude|    Longitude|            Location|
+--------+-----------+--------------------+--------------------+----+------------+--------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
|10224739|   HY411615|09/04/2015 11:30:...| 008XX N CENTRAL AVE|0870|       THEFT|POCKET-PICKING|             CTA BUS| false|   false|1511|     015|  29|            25|      06|     1138875|     1904869|2015|02/10/2018 03:50:...|41.895080471|-87.765400451|(41.895080471, -8...|
|11646166|   JC213529|09/01/2018 12:01:...|082XX S INGLESIDE...|0810|       THEFT|     OVER $500|           RESIDENCE| false|    true|0631|     006|   8|            44|      06|        null|        null|2018|04/06/2019 04:04:...|        null|         null|                null|
|10224744|   HY411605|09/05/2015 01:00:...|   025XX W CERMAK RD|0860|       THEFT|  RETAIL THEFT|  GROCERY FOOD STORE|  true|   false|1034|     010|  25|            31|      06|     1159734|     1889313|2015|09/17/2015 11:37:...|41.851988885|-87.689219118|(41.851988885, -8...|
|10224746|   HY411662|09/05/2015 02:00:...|  071XX S PULASKI RD|0820|       THEFT|$500 AND UNDER|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|
|10224752|   HY411601|09/03/2015 01:00:...| 020XX W SCHILLER ST|0810|       THEFT|     OVER $500|              STREET| false|   false|1424|     014|   1|            24|      06|     1162574|     1909428|2015|02/10/2018 03:50:...|41.907127255|-87.678232016|(41.907127255, -8...|
|10224768|   HY410651|09/03/2015 08:30:...|078XX S ESCANABA AVE|0810|       THEFT|     OVER $500|VEHICLE NON-COMME...| false|   false|0421|     004|   7|            43|      06|     1196887|     1853400|2015|02/10/2018 03:50:...|41.752596188|-87.554055126|(41.752596188, -8...|
|10224769|   HY411672|09/05/2015 02:30:...|    005XX S STATE ST|0890|       THEFT| FROM BUILDING|          RESTAURANT| false|   false|0123|     001|   2|            32|      06|     1176446|     1897964|2015|02/10/2018 03:50:...|41.875367424|-87.627620993|(41.875367424, -8...|
|10224772|   HY411681|09/04/2015 11:00:...| 011XX N ASHLAND AVE|0810|       THEFT|     OVER $500|              STREET| false|   false|1213|     012|   1|            24|      06|     1165522|     1907528|2015|02/10/2018 03:50:...|41.901851233|-87.667456951|(41.901851233, -8...|
|10224776|   HY411687|09/05/2015 02:45:...|  071XX S PULASKI RD|0810|       THEFT|     OVER $500|PARKING LOT/GARAG...| false|   false|0833|     008|  13|            65|      06|     1150938|     1857056|2015|02/10/2018 03:50:...|41.763647552|-87.722344693|(41.763647552, -8...|
|10224784|   HY411422|09/04/2015 07:30:...|004XX W MARQUETTE RD|0810|       THEFT|     OVER $500|               OTHER| false|   false|0722|     007|   6|            68|      06|     1174441|     1860502|2015|02/10/2018 03:50:...|41.772613371|-87.636098706|(41.772613371, -8...|
|10224803|   HY411745|09/04/2015 11:17:...| 012XX N LA SALLE DR|0890|       THEFT| FROM BUILDING|          RESTAURANT| false|   false|1821|     018|  42|             8|      06|     1174911|     1908547|2015|02/10/2018 03:50:...| 41.90444226| -87.63293969|(41.90444226, -87...|
|10224805|   HY411740|09/05/2015 03:45:...|    004XX S STATE ST|0890|       THEFT| FROM BUILDING|             LIBRARY| false|   false|0113|     001|   2|            32|      06|     1176436|     1898416|2015|02/10/2018 03:50:...|41.876607964|-87.627644063|(41.876607964, -8...|
|10224807|   HY411718|09/05/2015 03:30:...| 025XX W HARRISON ST|0820|       THEFT|$500 AND UNDER|VEHICLE NON-COMME...| false|   false|1135|     011|   2|            28|      06|     1159746|     1897284|2015|02/10/2018 03:50:...|41.873861861| -87.68895549|(41.873861861, -8...|
|10224812|   HY411619|09/05/2015 12:30:...| 084XX S SAGINAW AVE|0820|       THEFT|$500 AND UNDER|           RESIDENCE| false|   false|0423|     004|   7|            46|      06|     1195296|     1849589|2015|02/10/2018 03:50:...|41.742177899|-87.560010869|(41.742177899, -8...|
|10224813|   HY411765|08/30/2015 04:00:...|014XX S MICHIGAN AVE|0820|       THEFT|$500 AND UNDER|    RESIDENCE-GARAGE| false|   false|0131|     001|   2|            33|      06|     1177452|     1893551|2015|02/10/2018 03:50:...|41.863235129|-87.624061274|(41.863235129, -8...|
|10224816|   HY411658|09/05/2015 11:00:...|034XX S DR MARTIN...|0890|       THEFT| FROM BUILDING|       ATHLETIC CLUB| false|   false|0211|     002|   4|            35|      06|     1179476|     1882211|2015|02/10/2018 03:50:...|41.832071291|-87.616978684|(41.832071291, -8...|
|10224819|   HY411778|09/05/2015 03:02:...|     020XX E 79TH ST|0850|       THEFT| ATTEMPT THEFT|          DRUG STORE| false|   false|0414|     004|   8|            46|      06|     1191073|     1852990|2015|02/10/2018 03:50:...|41.751613643|-87.575373855|(41.751613643, -8...|
|10224821|   HY411725|09/05/2015 03:00:...| 115XX S INDIANA AVE|0810|       THEFT|     OVER $500|PARKING LOT/GARAG...| false|   false|0532|     005|   9|            53|      06|     1179641|     1828625|2015|02/10/2018 03:50:...|41.685021672|-87.618008151|(41.685021672, -8...|
|10224823|   HY411707|09/05/2015 12:00:...|  014XX N HALSTED ST|0820|       THEFT|$500 AND UNDER|              STREET|  true|   false|1822|     018|  27|             8|      06|     1170754|     1909471|2015|02/10/2018 03:50:...| 41.90706989|-87.648182264|(41.90706989, -87...|
|10224825|   HY411703|09/05/2015 12:00:...|  106XX S SAWYER AVE|0820|       THEFT|$500 AND UNDER|              STREET| false|   false|2211|     022|  19|            74|      06|     1156566|     1833923|2015|02/10/2018 03:50:...|41.700055116|-87.702338239|(41.700055116, -8...|
+--------+-----------+--------------------+--------------------+----+------------+--------------+--------------------+------+--------+----+--------+----+--------------+--------+------------+------------+----+--------------------+------------+-------------+--------------------+
only showing top 20 rows

In [ ]:
# We have grouped the data by Primary Type and counted the number of crimes in each category in descending order
df_pyspark.groupBy("Primary Type").count().orderBy('count', ascending=False).show()

+--------------------+------+
|        Primary Type| count|
+--------------------+------+
|               THEFT|837270|
|             BATTERY|758486|
|     CRIMINAL DAMAGE|477924|
|           NARCOTICS|407897|
|       OTHER OFFENSE|263480|
|             ASSAULT|259499|
|            BURGLARY|214695|
| MOTOR VEHICLE THEFT|193902|
|  DECEPTIVE PRACTICE|165308|
|             ROBBERY|151617|
|   CRIMINAL TRESPASS|123519|
|   WEAPONS VIOLATION| 46416|
|        PROSTITUTION| 45112|
|OFFENSE INVOLVING...| 26634|
|PUBLIC PEACE VIOL...| 24549|
|         SEX OFFENSE| 16258|
| CRIM SEXUAL ASSAULT| 15605|
|LIQUOR LAW VIOLATION|  9020|
|INTERFERENCE WITH...|  8299|
|            GAMBLING|  7866|
+--------------------+------+
only showing top 20 rows

In [ ]:
df_pyspark.agg({"Primary Type": "count"}).show()

+-------------------+
|count(Primary Type)|
+-------------------+
|            4071166|
+-------------------+

In [ ]:
# Apply the function to the dataframe
crime_count(df_pyspark).show()

+--------------------+------+
|        Primary Type| count|
+--------------------+------+
|               THEFT|837270|
|             BATTERY|758486|
|     CRIMINAL DAMAGE|477924|
|           NARCOTICS|407897|
|       OTHER OFFENSE|263480|
|             ASSAULT|259499|
|            BURGLARY|214695|
| MOTOR VEHICLE THEFT|193902|
|  DECEPTIVE PRACTICE|165308|
|             ROBBERY|151617|
|   CRIMINAL TRESPASS|123519|
|   WEAPONS VIOLATION| 46416|
|        PROSTITUTION| 45112|
|OFFENSE INVOLVING...| 26634|
|PUBLIC PEACE VIOL...| 24549|
|         SEX OFFENSE| 16258|
| CRIM SEXUAL ASSAULT| 15605|
|LIQUOR LAW VIOLATION|  9020|
|INTERFERENCE WITH...|  8299|
|            GAMBLING|  7866|
+--------------------+------+
only showing top 20 rows

In [ ]:
# Applied the function to the dataframe
crime_description(df_pyspark, "1153")

+------------------+--------------------+
|      Primary Type|         Description|
+------------------+--------------------+
|DECEPTIVE PRACTICE|FINANCIAL IDENTIT...|
+------------------+--------------------+

In [ ]:
crime_percentage(df_pyspark, "1153")

0.5171240699847955

In [ ]:
# Crimes compared for 2002 and 2020
compare_crimes(df_pyspark, 2002, 2020)
percentage_change_in_crime(df_pyspark, 2002, 2020)

+--------------------+-----+
|        Primary Type|count|
+--------------------+-----+
|               THEFT|91806|
|             BATTERY|88041|
|     CRIMINAL DAMAGE|53987|
|           NARCOTICS|49324|
|       OTHER OFFENSE|31531|
|             ASSAULT|29219|
|            BURGLARY|24867|
| MOTOR VEHICLE THEFT|23145|
|             ROBBERY|17433|
|   CRIMINAL TRESPASS|13409|
|  DECEPTIVE PRACTICE|13137|
|        PROSTITUTION| 6007|
|   WEAPONS VIOLATION| 4136|
|OFFENSE INVOLVING...| 2387|
|PUBLIC PEACE VIOL...| 2347|
|         SEX OFFENSE| 2038|
| CRIM SEXUAL ASSAULT| 1675|
|LIQUOR LAW VIOLATION| 1359|
|               ARSON|  938|
|            GAMBLING|  912|
+--------------------+-----+
only showing top 20 rows

+--------------------+-----+
|        Primary Type|count|
+--------------------+-----+
|             BATTERY| 3836|
|               THEFT| 3338|
|     CRIMINAL DAMAGE| 2213|
|             ASSAULT| 1583|
|  DECEPTIVE PRACTICE| 1206|
|       OTHER OFFENSE| 1006|
|            BURGLARY|  900|
| MOTOR VEHICLE THEFT|  846|
|   WEAPONS VIOLATION|  755|
|             ROBBERY|  674|
|           NARCOTICS|  405|
|   CRIMINAL TRESPASS|  305|
|OFFENSE INVOLVING...|  101|
|CRIMINAL SEXUAL A...|   77|
|PUBLIC PEACE VIOL...|   70|
|         SEX OFFENSE|   67|
|INTERFERENCE WITH...|   44|
|               ARSON|   34|
|            STALKING|   22|
|LIQUOR LAW VIOLATION|   10|
+--------------------+-----+
only showing top 20 rows

-96.18627188485675

In [ ]:
crime_activity_based_on_location(df_pyspark, "STREET")

+--------------------+------+
|        Primary Type| count|
+--------------------+------+
|               THEFT|226378|
|     CRIMINAL DAMAGE|170464|
|           NARCOTICS|160478|
| MOTOR VEHICLE THEFT|150731|
|             BATTERY|140674|
|             ASSAULT| 54829|
|             ROBBERY| 51699|
|       OTHER OFFENSE| 47223|
|        PROSTITUTION| 38161|
|   WEAPONS VIOLATION| 15842|
|  DECEPTIVE PRACTICE| 12314|
|PUBLIC PEACE VIOL...|  6905|
|   CRIMINAL TRESPASS|  6161|
|INTERFERENCE WITH...|  4193|
|LIQUOR LAW VIOLATION|  2076|
|         SEX OFFENSE|  2017|
|            GAMBLING|  1365|
|          KIDNAPPING|  1307|
|OFFENSE INVOLVING...|  1208|
| CRIM SEXUAL ASSAULT|   792|
+--------------------+------+
only showing top 20 rows

In [ ]:
pd.read_csv('Chicago_iucr-codes.csv', low_memory=False)

,IUCR,PRIMARY DESCRIPTION,SECONDARY DESCRIPTION,INDEX CODE,ACTIVE
0,110,HOMICIDE,FIRST DEGREE MURDER,I,True
1,130,HOMICIDE,SECOND DEGREE MURDER,I,True
2,141,HOMICIDE,INVOLUNTARY MANSLAUGHTER,N,True
3,142,HOMICIDE,RECKLESS HOMICIDE,N,True
4,261,CRIMINAL SEXUAL ASSAULT,AGGRAVATED - HANDGUN,I,True
...,...,...,...,...,...
405,5121,OTHER OFFENSE,ARSONIST - ANNUAL REGISTRATION,N,True
406,5122,OTHER OFFENSE,ARSONIST - FAIL TO REGISTER NEW ADDRESS,N,True
407,5130,OTHER OFFENSE,VIOLENT OFFENDER - DUTY TO REGISTER,N,True
408,5131,OTHER OFFENSE,VIOLENT OFFENDER - ANNUAL REGISTRATION,N,True
409,5132,OTHER OFFENSE,VIOLENT OFFENDER - FAIL TO REGISTER NEW ADDRESS,N,True

In [ ]:
# Create a new dataframe with the IUCR codes and descriptions
df_iucr = spark.read.option('header', 'true').csv('Chicago_iucr-codes.csv')

In [ ]:
most_happening_crime(df_pyspark, 2009)

+--------------------+-----+
|        Primary Type|count|
+--------------------+-----+
|  DECEPTIVE PRACTICE|   56|
|OFFENSE INVOLVING...|   31|
| CRIM SEXUAL ASSAULT|   15|
|         SEX OFFENSE|    8|
|               THEFT|    7|
|            BURGLARY|    5|
|           NARCOTICS|    2|
|             BATTERY|    1|
|             ASSAULT|    1|
|             ROBBERY|    1|
+--------------------+-----+

In [ ]:
count_crimes_in_block(df_pyspark, "THEFT", "0000X W TERMINAL ST")

+------------+-----+
|Primary Type|count|
+------------+-----+
|       THEFT|  830|
+------------+-----+

In [ ]:
d1=common_crimes_in_block(df_pyspark, "ROBBERY")

+--------------------+-----+
|               Block|count|
+--------------------+-----+
| 063XX S ASHLAND AVE|  154|
| 079XX S ASHLAND AVE|  137|
|  040XX W MADISON ST|  135|
|     0000X W 69TH ST|  127|
|063XX S DR MARTIN...|  126|
|     0000X W 95TH ST|  121|
|079XX S COTTAGE G...|  121|
|  079XX S HALSTED ST|  121|
|     0000X W 79TH ST|  118|
|     001XX W 87TH ST|  112|
|  005XX S PULASKI RD|  106|
|    046XX N BROADWAY|  103|
|  039XX W MADISON ST|  102|
|    022XX S STATE ST|   99|
| 062XX S ASHLAND AVE|   99|
|  066XX S HALSTED ST|   98|
|002XX W GARFIELD ...|   94|
|038XX W ROOSEVELT RD|   93|
| 003XX N CENTRAL AVE|   92|
|     002XX W 63RD ST|   92|
+--------------------+-----+
only showing top 20 rows

In [ ]:
dataframe_crime_activity_based_on_location=crime_activity_based_on_location(df_pyspark, "STREET")
dataframe_crime_activity_based_on_location.write.csv('crime_activity_based_on_location.csv')

In [ ]:
compare_crimes(df_pyspark,2002, 2010)

+--------------------+-----+
|        Primary Type|count|
+--------------------+-----+
|               THEFT|91806|
|             BATTERY|88041|
|     CRIMINAL DAMAGE|53987|
|           NARCOTICS|49324|
|       OTHER OFFENSE|31531|
|             ASSAULT|29219|
|            BURGLARY|24867|
| MOTOR VEHICLE THEFT|23145|
|             ROBBERY|17433|
|   CRIMINAL TRESPASS|13409|
|  DECEPTIVE PRACTICE|13137|
|        PROSTITUTION| 6007|
|   WEAPONS VIOLATION| 4136|
|OFFENSE INVOLVING...| 2387|
|PUBLIC PEACE VIOL...| 2347|
|         SEX OFFENSE| 2038|
| CRIM SEXUAL ASSAULT| 1675|
|LIQUOR LAW VIOLATION| 1359|
|               ARSON|  938|
|            GAMBLING|  912|
+--------------------+-----+
only showing top 20 rows

+--------------------+-----+
|        Primary Type|count|
+--------------------+-----+
|  DECEPTIVE PRACTICE|  126|
|OFFENSE INVOLVING...|   41|
| CRIM SEXUAL ASSAULT|   19|
|         SEX OFFENSE|   14|
|               THEFT|    8|
|             BATTERY|    5|
|           NARCOTICS|    4|
|             ASSAULT|    2|
|             ROBBERY|    2|
|CRIMINAL SEXUAL A...|    1|
|           OBSCENITY|    1|
|   HUMAN TRAFFICKING|    1|
+--------------------+-----+

(None, None)

In [ ]:
# df_pyspark_date.write.csv('chicago_crime_data.csv', header='True')

In [ ]:
print(crime_location(df_pyspark, "THEFT"))

In [ ]:
dataframe_crime_count=crime_count(df_pyspark)
dataframe_crime_count.write.csv('crime_count.csv', header='True')

In [244]:
dataframe_crime_latitude_longitude=crime_location(df_pyspark, "THEFT")
dataframe_crime_latitude_longitude.write.csv('crime_latitude_longitude.csv', header='True')

In [ ]:
dataframe_most_crimes_occuring_block=most_crimes_occuring_block(df_pyspark)
dataframe_most_crimes_occuring_block.write.csv('most_crimes_occuring_block.csv', header='True')

In [ ]:
# # crime_time(df_pyspark_date, "THEFT").show()
# # taking too much time
# dataframe_crime_time=crime_time(df_pyspark_date, "THEFT")
# dataframe_crime_time.write.csv('crime_time.csv', header='True')

In [ ]:
# Crimes compared for 2002 and 2020
dataframe_compare_crimes=compare_crimes(df_pyspark, 2002, 2020)
dataframe_compare_crimes.write.csv('compare_crimes.csv', header='True')

In [212]:
dataframe_most_common_crime_in_block=most_common_crime_in_block(df_pyspark, "100XX W OHARE ST")
dataframe_most_common_crime_in_block.write.csv('most_common_crime_in_block.csv', header='True')

In [217]:
dataframe_total_arrest=total_arrest(df_pyspark)
dataframe_total_arrest.write.csv('total_arrest.csv', header='True')

In [222]:
dataframe_reduction_in_crime=reduction_in_crime(df_pyspark, "100XX W OHARE ST")
dataframe_reduction_in_crime.write.csv('reduction_in_crime.csv', header='True')